* {
    scroll-behavior: smooth
}

.card,
body {
    background-color: #f3f3f3
}

.loader{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eff7f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img{
    width: 150px;
}

.hidden{
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
p,
span,
strong {
    font-family: Inter, sans-serif
}

.mTopName {
    margin-top: 120px
}

.custom-center-flex {
    display: flex;
    justify-content: center;
    align-items: center
}

.custom-border-orange {
    border-color: #f59800
}

.custom-text-orange {
    color: #f59800
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 44px solid #f0ac4e4f;
    border-top: 22px solid transparent;
    border-bottom: 25px solid transparent
}

.cuadrado {
    width: 40px;
    height: 40px;
    border: 3px solid #19875452
}

.circulo {
    width: 100px;
    height: 100px;
    border-left: 4px solid #0c77f254;
    border-radius: 50%
}

.postri-1 {
    position: absolute;
    top: 11%;
    right: 3%;
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
}

.poscua-1 {
    position: absolute;
    top: 55%;
    left: 55%;
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg)
}

.poscir-1 {
    position: absolute;
    top: 57%;
    right: 2%;
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
}

.poscir-2 {
    position: absolute;
    top: 7%;
    left: -5%
}

.circulo-2 {
    width: 100px;
    height: 100px;
    border-right: 4px solid #f20cdf54;
    border-radius: 50%
}

body::-webkit-scrollbar {
    width: 10px;
    height: 8px
}

body::-webkit-scrollbar-thumb {
    background: #b9b7b7;
    border-radius: 4px
}

body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2)
}

body::-webkit-scrollbar-thumb:active {
    background-color: #d1d1d1
}

.container::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 5px
}

.container::-webkit-scrollbar-track:active,
.container::-webkit-scrollbar-track:hover {
    background: #d4d4d4
}

.justificado {
    text-align: justify
}

.zon:hover {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .2);
    transition: all .1s;
    transform: scale(1.005)
}

.big1:hover .big2 {
    z-index: 2;
    transition: all .1s
}

.bgg-color,
.fb-color,
.gm-color,
.gt-color,
.in-color,
.li-color,
.tw-color,
.yt-color {
    color: #303138
}

.skill-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    margin-bottom: .5rem
}

.skill-img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center
}

.skill-icon {
    width: 50px
}

.item {
    position: relative
}

.item .item-content,
.item:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.item:after {
    position: absolute;
    background: #212529;
    content: '';
    opacity: 0;
    transform: scaleY(1);
    transition: .4s
}

.item:hover:after {
    opacity: .8
}

.item-content {
    top: 45%;
    opacity: 0;
    z-index: 1;
    transition: .3s;
    color: #f3f3f3;
    padding: 15px
}

.item:hover .item-content {
    opacity: 1;
    transform: translate(0, 20%);
    transition-delay: .3s
} 

.item-content .button {
    background-color: #0d6efd;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 120%;
    padding: .4rem 2.5rem;
    text-transform: uppercase;
    bottom: 1rem
}

.item-content .button:hover {
    background-color: #0c5eda;
    transition: .3s
}

.fb-color:hover {
    color: #fff;
    background-color: #0c78f2
}

.tw-color:hover {
    color: #fff;
    background-color: #0c78f2
}

.li-color:hover {
    color: #fff;
    background-color: #0c78f2
}

.gm-color:hover {
    color: #fff;
    background-color: #d11616
}

.yt-color:hover {
    color: #fff;
    background-color: #d11616
}

.in-color:hover {
    color: #fff;
    background-image: radial-gradient(circle at 120.71% 50%, #f1ab5f 0, #f7a25f 6.25%, #fc9861 12.5%, #ff8d63 18.75%, #ff8065 25%, #ff7269 31.25%, #fe626d 37.5%, #f95172 43.75%, #f23c78 50%, #e9247f 56.25%, #de0388 62.5%, #d10093 68.75%, #c1009f 75%, #ae00ab 81.25%, #9715b8 87.5%, #7b28c4 93.75%, #5335cf 100%)
}

.gt-color:hover {
    color: #fff;
    background-color: #292929
}

.bgg-color:hover {
    color: #fff;
    background-color: #f3a600
}

.bgg-color:hover,
.fb-color:hover,
.gm-color:hover,
.gt-color:hover,
.in-color:hover,
.li-color:hover,
.tw-color:hover,
.yt-color:hover {
    transition: .3s
}

.button-group .btn:focus {
    outline: 0 !important;
    box-shadow: none !important
}

.button-group .btn-dark {
    background-color: #f3f3f3;
    border: none
}

.button-group .btn-dark:hover {
    background-color: #d6d6d6
}

@media only screen and (max-width:1199px) {
    .mTopName {
        margin-top: 90px
    }
}

@media only screen and (max-width:993px) {
    .mTopName {
        margin-top: 75px
    }

    .skill-items {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px
    }
}

@media only screen and (max-width:768px) {
    .mTopName {
        margin-top: 10px
    }

    .skill-items {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px
    }
}